@font-face {
    font-family: 'ibm';
    src: url('../fonts/ibm/ibmplexsanscondensed-light-webfont.eot');
    src: url('../fonts/ibm/ibmplexsanscondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ibm/ibmplexsanscondensed-light-webfont.woff2') format('woff2'),
         url('../fonts/ibm/ibmplexsanscondensed-light-webfont.woff') format('woff'),
         url('../fonts/ibm/ibmplexsanscondensed-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'ibm';
    src: url('../fonts/ibm/ibmplexsanscondensed-medium-webfont.eot');
    src: url('../fonts/ibm/ibmplexsanscondensed-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ibm/ibmplexsanscondensed-medium-webfont.woff2') format('woff2'),
         url('../fonts/ibm/ibmplexsanscondensed-medium-webfont.woff') format('woff'),
         url('../fonts/ibm/ibmplexsanscondensed-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'ibm';
    src: url('../fonts/ibm/ibmplexsanscondensed-semibold-webfont.eot');
    src: url('../fonts/ibm/ibmplexsanscondensed-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ibm/ibmplexsanscondensed-semibold-webfont.woff2') format('woff2'),
         url('../fonts/ibm/ibmplexsanscondensed-semibold-webfont.woff') format('woff'),
         url('../fonts/ibm/ibmplexsanscondensed-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'ibm';
    src: url('../fonts/ibm/ibmplexsanscondensed-bold-webfont.eot');
    src: url('../fonts/ibm/ibmplexsanscondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ibm/ibmplexsanscondensed-bold-webfont.woff2') format('woff2'),
         url('../fonts/ibm/ibmplexsanscondensed-bold-webfont.woff') format('woff'),
         url('../fonts/ibm/ibmplexsanscondensed-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
