@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body { overflow-x: hidden; font-family: 'Roboto', sans-serif; margin: 0; }
a { transition: all 0.3s; text-decoration: none !important; }
button { transition: all 0.3s; }
button:focus { outline: none; }
figure { margin: 0; }
ul { padding: 0; margin: 0; list-style: none; }

.header_in { width: 100%; max-width: 100%; margin: 0 auto; display: -ms-flexbox;  display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; justify-content: flex-start; align-items: center; }
.header_in .header_logo { width: 100%; max-width: 288px; }
.header_in ul.menu { width: calc(100% - 288px); display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; justify-content: flex-end; align-items: center;
}
.header_in ul.menu li { display: inline-block; }
.produtos_menu a { width: 192px; display: inline-block; background: #FFB548; height: 80px;
    text-align: center; }
.produtos_menu .produtos_menu_inbox h4 a {
    height: auto;
    background: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4D4D4D;
    text-align: left;
}

.produtos_menu a img { width: 100%; max-width: 25px; margin: 0 auto 1px; padding: 12px 0 0; }
.produtos_menu span { width: 100%; display: block; font-size: 16px; font-weight: 700;
    text-transform: uppercase; color: #fff; }
.formacao_menu a { width: 192px; display: inline-block; background: #6BC4E8; text-align: center; height: 80px; }
.formacao_menu a img { width: 100%; max-width: 25px; margin: 0 auto 1px; padding: 12px 0 0; }
.formacao_menu span { width: 100%; display: block; font-size: 16px; font-weight: 700;  text-transform: uppercase; color: #fff; }
.search_bar input[type="search"] { margin: 0; border: none; line-height: 36px; padding: 0 40px 0 23px; box-shadow: none; outline: none; border-right: 1px solid #EFEFEF; width: 288px;
    height: 80px; }
.search_bar { position: relative; }
.search_bar button { position: absolute; right: 20px; top: 50%; transform: translateY(-50%); }
.header_user a { display: inline-block; width: 92px; text-align: center; padding: 0;
    border-right: 1px solid #EFEFEF; height: 80px; line-height: 100px !important; }
.header_cart a { display: flex !important; justify-content: center; width: 92px; text-align: center; padding: 0;
    border-right: 1px solid #EFEFEF; height: 80px; line-height: 100px !important; position: relative; padding: 0 !important; }
.header_cart a span {
    background: #F57F2B !important;
    font-size: 12px !important;
    width: 22px !important;
    height: 22px !important;
    color: #fff !important;
    position: absolute !important;
    top: 18px !important;
    right: 20px !important;
    text-align: center !important;
    /* line-height: 22px !important; */
    border-radius: 100% !important;
}
.produtos_submenuinn ul.tabs { margin: 0px; padding: 0px; list-style: none; }
.produtos_submenuinn ul.tabs li { cursor: pointer; border-right: none; }
.produtos_submenuinn ul.tabs li a.active,.produtos_submenuinn ul.tabs li.current  {
    background: #F39200;
    border-right-color: #f39200 !important;
}
.produtos_submenuinn ul.tabs li a.first-active {
    background: #F39200;
    border-right-color: #f39200 !important;
}
.produtos_submenuinn ul.tabs li a{background: transparent !important;}
.header_menu_drop {
    height: 100%;
    max-height: 100%;
}
.produtos_submenuinn .tab-content { display: none; }
.produtos_submenuinn .tab-content.current { display: block; }
.produtos_submenu { display: none; }
.produtos_submenu { position: absolute; left: 0; right: 0; top: auto; background: #F6B858;
    max-width: 1280px; margin: 0 auto; }
.produtos_submenuinn { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start; }
.produtos_submenuinn ul.tabs { margin: 0px; padding: 0px; list-style: none; width: 353px; }
.produtos_submenuinn .produtos_tabsmenu { width: calc(100% - 353px); }
.produtos_submenuinn ul.tabs li { width: 100%; padding: 0; border-bottom: 1px solid #DCA856;
    border-right: 1px solid #DCA856; }

    .produtos_submenuinn ul.tabs li a{ width: 100%; padding: 0;
     }

.produtos_submenuinn ul.tabs li a { width: 100%; display: inline-block; }
.produtos_submenuinn ul.tabs li span img { vertical-align: middle; 
   /* margin: 0 23px 0 0; */
   margin: 0 auto;
}
.produtos_submenuinn ul.tabs li span { letter-spacing: 0.20px; padding-left: 20px; height: 71px; line-height: 78px; vertical-align: middle; width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 5px;
}
.produtos_submenuinn ul.tabs li figure {
    display: inline-block;
    width: 45px;
    height: auto;
    line-height: 0; padding: 0 5px 0 0;
    text-align: center;
    margin-top: -10px;
    margin-left: 25px;

}
.produtos_menu_block { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; justify-content: flex-start; padding: 25px 0 0 0; }
.produtos_menu_block .produtos_menu_box { flex: 0 0 25%; max-width: 25%; }
.produtos_menu_block .produtos_menu_box ul li a { height: auto; text-align: left; background: none; color: #4D4D4D; font-size: 14px; width: 100%; }
.produtos_menu_block .produtos_menu_box ul li { margin: 0 0 7px; width: 100%; }
.produtos_menu_inbox { padding: 0 0 0 30px; margin: 0 0 20px; }
.produtos_menu_inbox h4 { margin: 0 0 10px; font-size: 14px; font-weight: 700; text-transform: uppercase; color: #4D4D4D; }
.produtos_menu_block .produtos_menu_box ul li a:hover { color: #fff; }
.produtos_subthree > a { position: relative; }
.produtos_subthree > a:after { content: ""; width: 100%; max-width: 4px; height: 7px;
    background: url(../img/arrow_menu.svg) no-repeat center center; position: absolute;
    right: auto; top: 5px; transition: all 0.3s; padding: 0 0 0 20px; }
.produtos_subthree:hover > a:after { transform: rotate(90deg); }
.produtos_submenuthree { display: none; margin: 10px 0 0; }
.produtos_btn a { height: auto; width: auto; font-size: 13px; color: #fff; text-transform: uppercase; font-weight: 700; padding: 13px 38px; background: none; border: 1px solid #fff;}
.produtos_btn { padding: 0 0 40px 30px; }
.produtos_btn a:hover { background: #fff; color: #f6b858; }
.formacao_submenu { position: absolute; width: 100%; max-width: 307px; display: none; }
.formacao_submenu ul li { width: 100%; }
.formacao_submenu ul li a { font-size: 14px; font-weight: 700; color: #fff; text-transform: uppercase; display: inline-block; width: 100%; background: #6bc4e8; text-align: left;
    height: 68px; line-height: normal; border-bottom: 1px solid #66B2D1; }
.formacao_submenu ul li a:hover { background: #ffb548; }
.formacao_submenu ul li a span { padding: 26px 29px; display: block; }
.header_usermenu { position: absolute; width: 186px; display: none; }
.header_usermenu ul li { width: 100%; }
.header_usermenu ul li a { line-height: normal !important; height: auto; border: none; text-align: left; color: #4D4D4D; font-size: 14px; letter-spacing: 0.20px; font-weight: 700; display: inline-block; width: 100%; text-transform: uppercase; background: #EDEDED;
    border-bottom: 1px solid #D5D5D5; }
.header_usermenu ul li a span { padding: 26px 30px; display: block; }
.header_usermenu ul li:last-child a { border: none; }
.formacao_submenu ul li:last-child a { border: none; }
.header_user:hover > a { background: #ededed; }
.header_usermenu ul li a:hover { background: #000; color: #fff; }
header#header { position: relative; }
a.logo { display: inline-block; }
.desktopmenubottom, .desktopmenutop { display: none; }
nav#menu { display: none !important; }
.mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened~.mm-slideout { transform: none !important; width: 100% !important; max-width: 100% !important; min-height: auto; }
.mm-wrapper_background .mm-page { transform: none !important; width: 100% !important; }

.footer .divs_pagamentos {
    padding: 2px 5px !important;
}
.footer .divs_pagamentos>div {
    width: 74px !important;
    height: 29px !important;
}
.banners .banner_cont a.button { border: none !important; }
.footer-left-wrap.links-section .container-wrap .column.small-6.medium-3 ul a { color: #4D4D4D !important; }
@media screen and (max-width: 1300px) {
.header_in .header_logo { max-width: 258px; }
.header_in ul.menu { width: calc(100% - 258px); }
.produtos_submenuinn ul.tabs { width: 100%; max-width: 356px; }
.produtos_submenuinn .produtos_tabsmenu { width: 100%; max-width: calc(100% - 356px); }
.produtos_submenuinn ul.tabs li figure { padding: 0 5px 0 70px; }
.header_in ul.menu { justify-content: flex-end; }
.produtos_btn { padding: 0 0 30px 30px; }
.header_usermenu { margin: 0 0 0 -115px; }
}
@media screen and (max-width: 1199px) {
    .header_user a { width: 70px; }
    .search_bar input[type="search"] { width: 250px; padding: 0 55px 0 23px; }
    .produtos_menu a { width: 170px; }
    .formacao_menu a { width: 170px; }
    .header_cart a { width: 70px; }
}
@media screen and (max-width: 991px) { 
    .desktopmenu { display: none !important; }
    .desktopmenubottom, .desktopmenutop { display: block; }
    .header_in .header_logo { max-width: 156px; padding: 0 0 0 20px; }
    .header_in .header_logo img { width: 100%; }
    .header_in { max-width: 100%; }
    .desktopmenutop { margin-left: auto; width: 100%; max-width: calc(100% - 176px); display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;
    justify-content: flex-end; align-items: center; }
    .search_barmobile_block img.search_barmobile { padding: 15px; cursor: pointer; }
    .search_barmobile_block { position: relative; margin: 0 6px 0 0; }
    .search_barmobile_block input[type="search"] { position: absolute; right: 0;
    top: 60px; border: none; padding: 15px; background: #f2f2f2; border-radius: 5px; width: 220px; }
    .user_mobile_block a { display: inline-block; padding: 15px; }
    .cart_mobile_block a { padding: 15px; }
    .cart_mobile_block { position: relative; margin: 0 20px 0 0; }
    .cart_mobile_block span { background: #F57F2B; font-size: 12px; width: 22px; height: 22px;
    color: #fff; position: absolute; top: -4px; right: 0; text-align: center; line-height: 22px; border-radius: 100%; }
    header#header { padding: 5px 0 0; }
    .search_barmobile_block input { display: none; }
    nav#menu { z-index: 111; top: 130px !important; width: 100% !important; max-width: 100% !important; min-width: 100% !important; left: -100% !important; right: 0 !important;
    margin: 0 !important; transform: none; transition: all 0.3s; display: block !important; }
.mm-wrapper_sidebar-collapsed .mm-slideout { width: 100% !important; max-width: 100% !important; left: 0 !important; transform: none !important; }
.desktopmenubottom { width: 100%; max-width: 100%; }
.desktopmenubottom .mobileheader ul { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start; }
.desktopmenubottom .mobileheader ul li:nth-child(1) { flex: 0 0 20%; max-width: 20%;
    text-align: center; }
.desktopmenubottom .mobileheader ul li:nth-child(2), .desktopmenubottom .mobileheader ul li:nth-child(3) { flex: 0 0 40%; max-width: 40%; text-align: center; }
.desktopmenubottom .mobileheader ul li a { display: inline-block; width: 100%;  padding:18px 20px; }
.desktopmenubottom .mobileheader ul li:nth-child(1) a { background: #EFEFEF; padding: 18px; }
.desktopmenubottom .mobileheader ul li:nth-child(2) a { background: #FFB548; }
.desktopmenubottom .mobileheader ul li:nth-child(2) a img { margin: 0 6px 0 0;     vertical-align: middle; }
.desktopmenubottom .mobileheader ul li:nth-child(3) a img { margin: 0 6px 0 0;    vertical-align: middle; }
.desktopmenubottom .mobileheader ul li a {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    vertical-align: middle;
    color: #4D4D4D;
    line-height: 26px;
    align-items: center;
}
.desktopmenubottom .mobileheader ul li a img {
    margin-top: -3px !important;
}
.desktopmenubottom .mobileheader ul li:nth-child(3) a { background: #6BC4E8; }
.mm-navbar.mm-navbar_tabs { display: none; }
.mm-wrapper_opening nav#menu { left: 0 !important; z-index: 9999; }
.mm-navbars_top.mm-navbars_has-tabs .mm-navbar_tabs~.mm-navbar { background: #F39200;    padding: 9px 20px; border-bottom: 1px solid #E4A548; }
a.mm-btn.mm-btn_prev.mm-navbar__btn { width: 10px; margin: 0 17px 0 0 !important; }
a.mm-btn.mm-btn_prev.mm-navbar__btn:before { left: 0; }
.mm-navbars_top.mm-navbars_has-tabs .mm-navbar_tabs~.mm-navbar * { opacity: 1 !important;
    color: #fff; }
a.mm-btn.mm-btn_prev.mm-navbar__btn:before { left: 0; border-color: #fff; }
a.mm-btn.mm-btn_close.mm-navbar__btn::before, a.mm-btn.mm-btn_close.mm-navbar__btn::after {
    border-color: #fff; }
.mm-panels>.mm-panel { background: #FFB548; padding: 0 0 20px; }
.mm-listitem:after { display: none; }
ul.mm-listview li.mm-listitem a{ font-size: 15px; text-transform: uppercase; letter-spacing: 0.20px; font-weight: 700; color: #4D4D4D; padding: 16px 20px;    border-bottom: 1px solid #E4A548; }

.he_mobile_menu_html li.mm-listitem {
    border-bottom: 1px solid rgba(0,0,0,.1);
}
ul.he_mobile_menu_html.mm-listview li.mm-listitem a,.he_mobile_menu_html ul.mm-listview li.mm-listitem a{ border: none; }
ul.he_mobile_menu_html.mm-listview li.mm-listitem a,.he_mobile_menu_html ul.mm-listview li.mm-listitem a{ border: none; }
span.mm-counter { display: none; }
.mm-btn_next:after { border-color: #fff; }
li.mm-listitem {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
ul.he_mobile_menu_html .mm-btn_next:after { border-color: #fff; display: none; }
a.mm-btn.mm-btn_close.mm-navbar__btn { width: 20px; }
a.mm-btn.mm-btn_close.mm-navbar__btn::before { right: 0; }
a.mm-btn.mm-btn_close.mm-navbar__btn::after { right: 8px; }
div#produtos-menu.mm-panel_opened ul.mm-listview li.mm-listitem a { color: #fff; vertical-align: middle; background: #f39200; }
.mm-menu_shadow-page:after { top: 0; }
div#produtos-menu.mm-panel_opened ul.mm-listview li.mm-listitem a img { vertical-align: middle; }
div#produtos-menu.mm-panel_opened ul.mm-listview li.mm-listitem a figure { display: inline-block; width: 35px; margin: 0 23px 0 0; vertical-align: middle; text-align: center; }
.mm-wrapper__blocker.mm-slideout { display: none; }
.loginmobile_menu { display: none; position: absolute; width: 100%; height: 100vh;
    overflow-y: auto; background: #ededed; }
.loginmobile_menu ul li { flex: 0 0 100% !important; max-width: 100% !important; width: 100% !important; }
.loginmobile_menu ul li a { background: #EDEDED !important; border-bottom: 1px solid #d3d3d3;
    text-align: left; padding: 0; }
.loginmobile_menu ul li a span { padding: 18px 20px !important; display: inline-block; }
.formacaomobile_menu { display: none; position: absolute; width: 100%; left: 0;
    height: 100vh; overflow-y: auto; background: #6bc4e8; }
.formacaomobile_menu li { flex: 0 0 100% !important; max-width: 100% !important;
    text-align: left !important; }
.formacaomobile_menu li a { padding: 0 !important; color: #fff !important; background: #6BC4E8 !important; border-bottom: 1px solid #66B2D1; }
.formacaomobile_menu li a span { padding: 18px 20px !important; display: inline-block; }
}
@media screen and (max-width: 767px) {
    div#sticky_cont_header {
        display: table !important;
    }
}
@media screen and (max-width: 350px) {
    .user_mobile_block a, .search_barmobile_block img.search_barmobile, .cart_mobile_block a {  padding: 9px; }
}

.header_user a {
    display: flex;
    width: 92px;
    text-align: center;
    padding: 0;
    border-right: 1px solid #EFEFEF;
    height: 80px;
    line-height: 100px !important;
    align-items: center;
    justify-content: center;
}

.menu1 svg {
    width: 25px;
    fill: #fff;
    margin-bottom: 5px;
    display: inline-block;
    margin-top: 15px;
}

.menu2 svg {
    width: 25px;
    fill: #fff;
    margin-bottom: 5px;
    display: inline-block;
    margin-top: 15px;
}
.mm-navbar__breadcrumbs span, .mm-navbar__breadcrumbs a {
    padding-top: 6px !important;
}