@charset "UTF-8";

@font-face {
  font-family: "goldensofas";
  src:url("fonts/goldensofas.eot");
  src:url("fonts/goldensofas.eot?#iefix") format("embedded-opentype"),
    url("fonts/goldensofas.woff") format("woff"),
    url("fonts/goldensofas.ttf") format("truetype"),
    url("fonts/goldensofas.svg#goldensofas") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "goldensofas" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "goldensofas" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bag:before {
  content: "\61";
}
.icon-compra:before {
  content: "\62";
}
.icon-down:before {
  content: "\63";
}
.icon-entrega:before {
  content: "\64";
}
.icon-fabricantes:before {
  content: "\65";
}
.icon-favorite:before {
  content: "\66";
}
.icon-garantia:before {
  content: "\67";
}
.icon-left:before {
  content: "\68";
}
.icon-less:before {
  content: "\69";
}
.icon-location:before {
  content: "\6a";
}
.icon-lojas:before {
  content: "\6b";
}
.icon-plus:before {
  content: "\6c";
}
.icon-right:before {
  content: "\6d";
}
.icon-right2:before {
  content: "\6e";
}
.icon-search:before {
  content: "\6f";
}
.icon-share:before {
  content: "\70";
}
.icon-star:before {
  content: "\71";
}
.icon-stock1:before {
  content: "\72";
}
.icon-stock2:before {
  content: "\73";
}
.icon-up:before {
  content: "\74";
}
.icon-zoom:before {
  content: "\75";
}
