@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat/Montserrat-Hairline-webfont.eot');
    src: url('fonts/montserrat/Montserrat-Hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat/Montserrat-Hairline-webfont.woff2') format('woff2'),
         url('fonts/montserrat/Montserrat-Hairline-webfont.woff') format('woff'),
         url('fonts/montserrat/Montserrat-Hairline-webfont.ttf') format('truetype'),
         url('fonts/montserrat/Montserrat-Hairline-webfont.svg#montserrathairline') format('svg');
    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat/Montserrat-Light-webfont.eot');
    src: url('fonts/montserrat/Montserrat-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat/Montserrat-Light-webfont.woff2') format('woff2'),
         url('fonts/montserrat/Montserrat-Light-webfont.woff') format('woff'),
         url('fonts/montserrat/Montserrat-Light-webfont.ttf') format('truetype'),
         url('fonts/montserrat/Montserrat-Light-webfont.svg#montserratlight') format('svg');
    font-weight: 200;
    font-style: normal;

}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat/Montserrat-Regular-webfont.eot');
    src: url('fonts/montserrat/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat/Montserrat-Regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat/Montserrat-Regular-webfont.woff') format('woff'),
         url('fonts/montserrat/Montserrat-Regular-webfont.ttf') format('truetype'),
         url('fonts/montserrat/Montserrat-Regular-webfont.svg#montserratregular') format('svg');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat/Montserrat-Bold-webfont.eot');
    src: url('fonts/montserrat/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat/Montserrat-Bold-webfont.woff2') format('woff2'),
         url('fonts/montserrat/Montserrat-Bold-webfont.woff') format('woff'),
         url('fonts/montserrat/Montserrat-Bold-webfont.ttf') format('truetype'),
         url('fonts/montserrat/Montserrat-Bold-webfont.svg#montserratbold') format('svg');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat/Montserrat-Black-webfont.eot');
    src: url('fonts/montserrat/Montserrat-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat/Montserrat-Black-webfont.woff2') format('woff2'),
         url('fonts/montserrat/Montserrat-Black-webfont.woff') format('woff'),
         url('fonts/montserrat/Montserrat-Black-webfont.ttf') format('truetype'),
         url('fonts/montserrat/Montserrat-Black-webfont.svg#montserratblack') format('svg');
    font-weight: 500;
    font-style: normal;

}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, img, small, sub, b, dl, dd, dt, ul, li, label, article, details, footer, header, menu, nav, input, textarea, select {
	background: transparent;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
html, body{
	background: transparent !important;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #313131;
	height: 100%;
	width: 100%;
	background: #FFFFFF;
	line-height: 18px;
}
body {
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	color: #313131;
}
h1 {
	font-size: 36px;
	color: #000000;
	margin-bottom: 15px;
}
p {
	font-size: 14px;
}
b {
	color: #313131;
}
a:hover, a:active, a:focus, button, input.submit, input[type="submit"], input[type="reset"], input[type="button"], input[type="image"] {
	outline: 0;
}
a {
	text-decoration: none;
}
a, button, input.submit, input[type="submit"], input[type="reset"], input[type="button"], input[type="image"], .animationcss, *:before, *:after{
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
li {
	list-style: none;
}
a {
	outline: 0;
}
a:hover {
	text-decoration: none;
}
form {
	padding: 0;
	margin: 0;
}
img {
	display: block;
}
img[usemap] {
	border: none;
	height: auto;
	max-width: 100%;
	width: auto;
}
input{
	outline:none;
	box-shadow: unset;
}


.mainDiv{
	width:100%;
	height:100%;
	display:table;
	z-index:100;
}
.container_1180{
	width:100%;
	height: 100%;
	max-width:940px;
	display:table;
	margin:auto;
	padding:0 20px;
}
.titulo{
	color:#313131;
	font-size:30px;
	font-weight:200;
	text-transform:uppercase;
	line-height:40px;
	text-align:center;
	width:100%;
	padding:90px 0 70px 0;
}
.txt{
	color:#313131;
	font-size:14px;
	font-weight:200;
	line-height:18px;
	text-align:left;
	width:100%;
}
.titulo_2{
	color:#313131;
	font-size:14px;
	font-weight:300;
	text-transform:none;
	line-height:19px;
	text-align:left;
	width:100%;
	padding:90px 0 50px 0;
}
.list_masc{
	cursor:pointer;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-webkit-box-shadow: inset 0px 0px 100px 0px rgba(241,241,242,1);
	-moz-box-shadow: inset 0px 0px 100px 0px rgba(241,241,242,1);
	box-shadow: inset 0px 0px 100px 0px rgba(241,241,242,1);
}
.list:hover .list_masc{
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
.list{
	width:100%;
	border-top:1px solid #d7d7d7;
	height:118px;
	display:table;
	position:relative
}
.list .list_1{
	display:table-cell;
	width:170px;
	text-align:center;
	vertical-align:middle;	
}
.list .list_2{
	display:table-cell;
	width:30px;
}
.list .list_3{
	display:table-cell;
	text-align:left;
	vertical-align:middle;
}
.list .list_3 .txt_1{
	color:#313131;
	font-size:13px;
	font-weight:300;
	line-height:18px;
	padding-bottom:5px;
	font-family: 'Montserrat', sans-serif;
}
.list .list_3 .txt_2{
	color:#5c5c5c;
	font-size:13px;
	font-weight:200;
	line-height:18px;
	font-family: 'Montserrat', sans-serif;
}
.list_last{
	width:100%;
	border-top:1px solid #d7d7d7;
	height:70px;
}
.rodape, .rodape a{
	color:#313131;
	font-size:14px;
	font-weight:300;
	line-height:19px;
	text-align:left;
	width:100%;
}
.rodape a:hover{
	color:#d7d7d7;
}
.rodape_final{
	height:100px;
}

@media only screen and (max-width: 600px) {
	.list .list_1{
		display:none;
	}
	.list .list_2{
		display:none;
	}
	.list .list_3{
		padding:0 10px;
	}
}

@media only screen and (max-width: 500px) {
	.container_1180{
		padding:0 10px;
	}
}
