.contactos{
	& .mapa{
		display:block;
		overflow:hidden;
		position: relative;
		
		& .mapa_container{
			display: block;;
			@include positions();
		}
	}
	
	& .contactos_cont{
		padding: 8rem 0;
		
		& .contactos_tit{
			margin-top: 2rem;
			margin-bottom:3rem;
		}
		& .contactos_link{
			@include displayInline(top);
			& > div{
				display: flex;
				align-items: center;
			}
			& i{
				@include displayInline(middle);
				position: relative;
				border-radius: 50%;

				width: 8rem;
				height: 8rem;

				background-color: $primary-color;
				color: $white;

				margin: 0 2rem;

				@include Animationcss(all 0.3s linear);

				&:before{
					@include positions(absolute, half);
					font-size: 3rem;
				}
				&::after {
					/* this is used to create the pulse animation */
					content: '';
					@include positions(absolute);
					z-index: 1;
					border-radius: inherit;
					background-color: transparent;
				}
			}

			& span{
				@include displayInline(middle);
			}

			&:hover{
				& i{
					color: $secondary-color;

					&:after{
						animation: pulse 2s infinite;
					}
				}

				& span{
					color: $secondary-color;

					
				}
			}
		}
		& .contactos_txt{
			font-size: 16px;
			&.margin{
				margin-top: 3rem;
				margin-bottom: 3rem;
			}

			& strong{
				color: $secondary-color;
			}


			& a{
				@include displayInline(top);
				color: $primary-color;
	
				&:hover{
					color: $secondary-color;
				}
			}
		}		

		[class^="button-"],
		[class*=" button-"]{
			margin-top: 2rem;
		}

		& .social{
			margin-top: 10rem;
			
			& .redes{
				@include displayInline(middle);
				position: relative;
				border-radius: 50%;

				width: 8rem;
				height: 8rem;

				background-color: $primary-color;
				color: $white;

				margin: 0 2rem;

				@include Animationcss(all 0.3s linear);

				&:before{
					@include positions(absolute, half);
					font-size: 4rem;
				}
				&::after {
					/* this is used to create the pulse animation */
					content: '';
					@include positions(absolute);
					z-index: 1;
					border-radius: inherit;
					background-color: transparent;
				}
				&:hover{
					color: $secondary-color;

					&:after{
						animation: pulse 2s infinite;
					}
				}
			}
		}
	}
	
	@include breakpoint(xxmedium down){		
		& .contactos_cont{
			& .contactos_link i,
			& .social .redes{
				width: 6rem;
				height: 6rem;

				&:before{
					font-size:2.2rem;
				}
			}
		}
	}
	@include breakpoint(xxsmall down){		
		& .contactos_cont{
			padding: 5rem 0;

			& .contactos_link i,
			& .social .redes{
				width: 5rem;
				height: 5rem;

				&:before{
					font-size:1.8rem;
				}
			}

			& .social{
				margin-top: 5rem;
			}
		}
	}
	@include breakpoint(xsmall down){		
		& .contactos_cont{
			padding-top: 4rem;
			
			& .contactos_link i,
			& .social .redes{
				width: 4rem;
				height: 4rem;

				&:before{
					font-size:1.8rem;
				}
			}

			& .contactos_link{
				& i{
					margin: 1rem 1.5em;
					margin-left: 0;
				}
			}
			& .contactos_txt {
				
			}
		}
	}
}





@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba($primary-color, 0.3);
  }

  50% {
    box-shadow: inset 0 0 1px 1px rgba($primary-color, 0.3);
  }

  100% {
    -webkit-transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba($primary-color, 0);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba($primary-color, 0.3);
  }

  50% {
    box-shadow: inset 0 0 1px 1px rgba($primary-color, 0.3);
  }

  100% {
    -moz-transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba($primary-color, 0);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba($primary-color, 0.3);
  }

  50% {
    box-shadow: inset 0 0 1px 1px rgba($primary-color, 0.3);
  }

  100% {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba($primary-color, 0);
  }
}

