$log_esp_textos: 5rem;
$log_esp_blocos: 7.5rem;
$log_esp_blocos_mob: 4rem;
$log_esp_textos_mob: 2.5rem;

$log_tit_marg: 1rem;
$log_button_marg: 1.5rem;

.login_container{	
	overflow:hidden;

	& .login_divs{
		padding:$log_esp_blocos 10rem;
		position:relative;
		z-index: 1;

		&:first-child{
			&:before{
				content:'';
				display:block;
				position:absolute;
				bottom:0px;
				top:0px;
				right:0%;
				width:1px;
				border-right: 1px solid $medium-gray;
			}
		}
		&:only-child{ /*Recupera password*/
			&:before{
				display: none;
			}
		}
						
		& h2{			
			margin-bottom:$log_tit_marg;
		}

		& .textos{
			font-style: normal;
			font-size:14px;
		}
	}

	
	& #form_login{
		position: relative;

		& .recupera_txt{
			@include displayInline(top);
			cursor: pointer;
			margin-top:1rem; 
			padding-bottom: 4px;
			border-bottom: 1px solid;
					
			&:hover{
				color:$secondary-color;
			}
		}		
	}
	& #form_recupera{
		display:none;
		margin-top:$log_esp_blocos;

		& .diviser{
			margin-bottom:3.5rem; 
		}
	}

	& #form_registo{
		& #form_texts{
			display: block;
			margin-bottom:1.5rem; 
		}
		& .div_postal{
			& .divid_cod{
			    margin: 0 1rem;
			    @include displayInline(middle);
			    height: 2px;
			    width: 10px;
			    background: #000;
			}
			& .postal{
				@include displayInline(middle);
				width: 100px;
			}
		}
	}

	&.TYPE1 {
		& .login_divs{
			&:first-child{
				&:after{
					content:'';
					position: absolute;
					top: 0;
					left: -25vw;
					width: 150vw;
					height: 100%;
					background:$medium-gray;
					z-index: -1;
				}
				& .inpt{
					background: $white;
				}
				.inpt_checkbox label::before {
					background: $white;
				}
				& .login_block{
					margin-top:3.5rem;
				}
			}
			&:before{
				display:none;
			}
		}
		& #form_texts{
			/*max-width: 71rem;*/
		}
		& #form_recupera{
			display:none;
			margin-top:3rem;
		}
	}
	&.TYPE1 #form_registo,
	&.TYPE3 #form_registo{
		#form_elem{
			display: block;
			margin-top:1.5rem; 
		}
	}
	&.TYPE2,
	&.TYPE3{
		& .login_divs{
			&:first-child{
				&:after{
					@include pseudoElements();
					@include positions();
					background:rgba(255,255,255,0.5);

					opacity: 0;
					visibility: hidden;

					z-index: 10;
				}
			}
		}

		&.login_hidden{
			& .login_divs:first-child:after{
				opacity: 1;
				visibility: visible;
			}
		}
	}
	
	& .login_block{
		margin-top:$log_esp_blocos;
	}
	& .reg_block{
		display: block;
		margin-top:$log_esp_textos;

		&:first-child{
			margin-top:0;
		}
	}

	& .submit_login{		
		width: 100%;
		margin-top:$log_button_marg;

		&.loginFace{
			color: white;
			background: #346BC3;
		}
		&.loginGoogle{
			color: white;
			background: #D34116;
		}

		
		&:before{
			@include displayInline(middle);
			font-size: 3rem;
			margin-top: -2px;
		}
	}

	& .g-recaptcha{
		margin-bottom: 3rem;
	}


	.login_ft{
		& .column{
			padding:3.5rem 10rem;
			position: relative;

			&:before{
				content:'';
				display:block;
				position:absolute;
				top:0px;
				height: 1px;
				background: $medium-gray;
			}
			
			&:first-child{
				&:before{
					left:0;
					right:10rem;
				}
			}
			&:nth-child(2){
				&:before{
					left:10rem;
					right: 0;
				}
				a:hover{
					color:$secondary-color;
				}
			}
		}
	}
	

	@include breakpoint(medium down){
		& .login_divs{
			padding:$log_esp_blocos 5rem;
		}
		.login_ft{
			& .column{
				padding:3.5rem 5rem;

				&:first-child{
					&:before{
						left:5rem;
						right: 0;
					}
				}
				&:nth-child(2){
					&:before{
						left:0;
						right:5rem;
					}
				}
			}
		}
	}

	@include breakpoint(xxsmall down){
		& .login_divs{
			padding:$log_esp_blocos_mob 0rem;

			&:first-child:before{
				left:0;
				bottom: 0;
				top: auto;
				width:100%;
				height:1px;
				border-right: 0;
				border-bottom: 1px solid $medium-gray;
			}

			& > div{
				max-width: 45rem;
				margin:auto;
			}
		}
		& .login_block{
			margin-top:$log_esp_blocos_mob;
		}
		& .reg_block{
			margin-top:$log_esp_textos_mob;
		}
	}
	@include breakpoint(xsmall down){
		.login_ft{
			& .column{
				padding:2rem 0;

				&:first-child{
					&:before{
						left:0;
						right: 0;
					}
				}
				&:nth-child(2){		
					padding-top:0;			
					
					&:before{
						display:none;

						left:0;
						right:0;
					}
				}
			}
		}
	}
}

