@charset "UTF-8";
table.pme-main {
	border:#c0c0c0 1px solid;
	border-collapse:collapse;
	padding:1px;
	border-spacing:1px;
}
th.pme-main {
	border:#c0c0c0 1px solid;
	border-collapse:collapse;
	padding:1px;
	border-spacing:1px;
	-moz-border-radius:9px
}
td.pme-main {
	border:#c0c0c0 1px solid;
	border-collapse:collapse;
	padding:1px;
	border-spacing:1px;
	-moz-border-radius:9px
}
th.pme-header,th.pme-header-cssimg {
	border:#c0c0c0 1px solid;
	padding:3px;
	background:#d4d4d4;
	text-align:center;font-weight:bold
}
td.pme-filter,.pme-filter,.pme-filter-right-align {
	border:1px #c0c0c0 solid;
	background:#e6e6e6;
	color:#333;
	text-align:center
}
.pme-sortinfo,.pme-queryinfo {
	border:0px #c0c0c0 solid;
	background:#fffff;
	color:#333;
	text-align:center
}
input.pme-filter,input.pme-filter-cssimg,input.pme-filter-right-align,input.pme-filter-right-align-cssimg {
	border:#c0c0c0 1px solid;
	background:#FFF;
	color:#333;
	font:1em Arial,Helvetica,Verdana,Sans;
	text-align:center;
	width:97%
}
input.file {
	position:relative;
	text-align:right;
	-moz-opacity:0;
	filter:alpha(opacity:0);
	opacity:0;
	z-index:2
}
.pme-hr {
	border-bottom-width:0px;
	border-bottom-style:solid;
	border-bottom-color:#eee;
	border-top-width:1px;
	border-right-width:0px;
	border-left-width:0px;
	border-top-style:solid;
	border-right-style:solid;
	border-left-style:solid;
	border-top-color:#eee;
	border-right-color:#eee;
	border-left-color:#eee;
	padding:0;margin:8px 0;
	height:1px;
	line-height:1px
}
input.pme-input-0,input.pme-input-0-cssimg,pme-input-0-cssimg,pme-input-1-cssimg,input.pme-input-1,input.pme-input-1-cssimg,textarea.pme-input-0,textarea.pme-input-0-cssimg,textarea.pme-input-0,textarea.pme-input-0-cssimg {
	border:#c0c0c0 0px solid;
	background:#FFF;
	border:1px #dcdcdc solid;
	color:#000;
	padding:4px;
	width:70%
}
select.pme-input-0,select.pme-input-0-cssimg,select.pme-input-1,select.pme-input-1-cssimg {
	border:#c0c0c0 0px solid;
	background:#FFF;
	border:1px #dcdcdc solid;
	color:#000;
}
input.pme-input-0-cssimg,input.pme-input-1-cssimg {
	width:70%
}
tr.pme-navigation {
	border:#c0c0c0 0px solid;
	background:#FFF;
	padding:1px;
	border-spacing:0px;
} 
td.pme-key-0,td.pme-key-0-cssimg,td.pme-value-0,td.pme-value-0-cssimg,td.pme-help-0,td.pme-help-0-cssimg,td.pme-navigation-0,td.pme-navigation-0-cssimg,td.pme-cell-0,td.pme-cell-0-cssimg, td.pme-key-1,td.pme-key-1-cssimg,td.pme-value-1,td.pme-value-1-cssimg,td.pme-help-1,td.pme-help-1-cssimg,td.pme-navigation-1,td.pme-cell-1,td.pme-cell-1-cssimg,td.pme-navigation-1-cssimg, td.pme-sortinfo,td.pme-sortinfo-cssimg,td.pme-filter,td.pme-filter-cssimg {
	background-color:#E2E2E2;
	border:#ccc 1px solid;
	text-align:left
}
table.pme-main {
	border:#ccc 0px solid;
	border-collapse:collapse;
	border-spacing:0px;
}
th.pme-header,th.pme-header-cssimg {
	border:#444 1px solid;
	padding:2px;
	background:#555;
	color:#FFF !important;
	font-weight:bold;
	vertical-align:middle;
	background-image:url(../images/layout/header_bg.png);
	background-repeat:repeat-x;
	background-position:0 top
}
th.pme-header a,th.pme-header-cssimg a,th.pme-header a:visited,th.pme-header-cssimg a:visited,th.pme-header a:active,th.pme-header-cssimg a:active {
	color:#FFF !important;
	font-weight:bold
}
td.pme-cell-0,td.pme-cell-0-cssimg {
	border:#ccc 1px solid;
	padding:0.2em;
	background:#f5f5f5;
}
td.pme-cell-1,td.pme-cell-1-cssimg {
	border:#ccc 1px solid;
	padding:0.2em;
	background:#fafafa;
	
}
.but {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666;
	text-align:center;
	background:#ccc url(../images/layout/botao.jpg);
	background-position:0 center;
	padding:3px 8px;
	width:40px;
	height:20px;
	display:inline-block;
	text-decoration:none;
	font-weight:bold;
	line-height:1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border:#c0c0c0 1px solid;
	position:relative;cursor:pointer
}
.but:hover {
	color:#111;
	background-position:5px top;
	color:#FFF !important;
	background:#ccc url(../images/layout/botao_active.jpg) repeat-x 0 center;
	border:1px solid #333
}