[accordion]{
	display: block;
	text-align: left;
	margin: auto;

	& [accordion-item]{
		position:relative;
		z-index: 1;
	}
	& [accordion-title]{
		display: block;
		position: relative;
		z-index: 1;
			
		&[hasSub]{
			&.plusminus{
				&::before,
				&::after {
					top: 50%;
					position:absolute;
					@include pseudoElements;
					background:currentColor;	
				}
				
				&::before{
					height:1.4rem;
					width:0.2rem;
					margin-top: -0.7rem;
					right: 0.6rem;
				}
				&::after{
					width:1.4rem;
					height:0.2rem;
					margin-top:-1px;
					right:0rem;
				}			
			}
			&[class*=" icon-"]{
				&::before{
					position: absolute;
					top: 50%;
					margin-top: -0.9rem;
					font-size: 1.8rem;
					right: 0;
				}
			}
		}
		
		&:hover{
			color:$secondary-color;
		} 
	}

	& [accordion-content],
	& [accordion-nested]{
		display: none;
		position: relative;
		z-index: 1;

		margin: 0;
		padding: 0;
		padding-bottom:2rem;
	}
	& [accordion-image]{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		
		opacity:0;
		visibility:hidden;
		
		z-index:-2;
		
		&:after{
			content:'';
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background:rgba(37,37,37,0.5);
			z-index:-1;
		}		
	}

	&[styled]{
		border-bottom:1px solid $light-gray;	

		& [accordion-title]{
			padding: 1.5rem 0;
			padding-right: 2rem;

			border-top:1px solid $light-gray;	
		}

		& [accordion-nested]{
			& [accordion-item]{
				& a{
					padding-left: 2rem;
				}
				&:last-child{
					border-bottom: 0;
				}

				& [accordion-nested]{
					& [accordion-item]{
						& a{
							padding-left: 4rem;
						}
					}
				}
			}
		}
	}
	

	[accordion-active]{
		& > [accordion-title]{
			color:$secondary-color;
			
			&.plusminus{
				&::before,
				&::after {
					@include transform(rotate(45deg));
				}
			}
		}
	}
	& [accordion-active][accordion-hasImg] [accordion-title],
	& [accordion-active][accordion-hasImg] [accordion-content]{
		background: transparent;
		color:$white;
	}

	& [accordion-active][accordion-hasImg] [accordion-image]{
		opacity:1;
		visibility:visible;
	}
}


[accordion-absolute]{
	display: block;

	& [accordion-item]{
		position:relative;
		z-index: 1;
	}
	& [accordion-title]{
		display: block;
		position: relative;
		z-index: 1;
		
		&[hasSub]{
			&[class*=" icon-"]{
				&::before{
					position: absolute;
					top: 50%;
					margin-top: -0.9rem;
					font-size: 1.8rem;
					right: 0;

					@include Animationcss(all 0.3s linear);
				}
			}
		}
				
		&:hover{
			color:$secondary-color;
		} 
	}

	& [accordion-nested]{
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 1;

		margin: 0;
	}

	[accordion-active]{
		& > [accordion-title]{
			color:$secondary-color;
			
			&::before,
			&::after {
				@include transform(rotate(90deg));
			}
		}
	}
}



