[native-window] {
	& [native-window-trigger]{
		position: relative;
		padding-right: 4rem;
		
		text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;

	    &:before{
			font-size: 14px;
			position: absolute;
			top: 50%;
			right: 20px;
			margin-top: -7px;
	    }
	}
	& [native-window-container][native-window-styled]{
		display:block;
		@include positions(fixed);
		
		padding: 5rem 20px;
		background: rgba(0,0,0,0.7);
		z-index: 10;

		opacity: 0;
		visibility: hidden;
		pointer-events:none;

		@include Animationcss(all 0.3s linear);

		[native-window-wrapper]{
			background: $white;
			height: 100%;

			& [native-window-head]{
				padding: 15px 20px;
				border-bottom: 1px solid $light-gray;
			}
			& [native-window-body]{
				display: block;
				padding: 15px 20px;
				height: calc(100% - 100px);
				overflow-y:auto;

				& .inpt_checkbox{
					width: 100%;
					margin-right: 0;
					margin: 1rem 0;
				}
			}
			& [native-window-footer]{
				padding: 15px 20px;
				border-top: 1px solid $light-gray;

				& a{
					color: $success-color;

					&:hover{
						color: $primary-color;
					}
				}
			}
		}

		&[native-window-opened]{
			opacity: 1;
			visibility: visible;
			pointer-events:auto;
		}
	}
}