.block-revealer__content{
	display: flex;
	position:relative;
	height: 100%;
	
	z-index:1;
	opacity: 0;
	
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.block-revealer__element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	pointer-events: none;
	opacity: 0;
}
.block-revealer__arrow{
	position:absolute;
	top:0;
	
	width: 0;
	height: 0;
	border-style: solid;
}

.reveal_arrow.arrow_left .block-revealer__arrow{
	left:0;
	border-color: transparent currentColor transparent transparent;
}
.reveal_arrow.arrow_right .block-revealer__arrow{
	right:0;
	border-color: transparent transparent transparent currentColor;
}

