/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;

    z-index: 4;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: hand;
	cursor:url(cursor.png),move;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


.slick-slider.full_height,
.slick-slider.full_height .slick-list,
.slick-slider.full_height .slick-track,
.slick-slider.full_height .slick-slide{
	height:100%;
}


/* Slider */
.slick-loading .slick-list{
    background: #fff url('../imgs/elem/ajax-loader.gif') center center no-repeat;
}


/* Arrows */
.slick-prev,
.slick-next{
    display:none;
    font-size: 0;
    line-height: 0;
    position: absolute;
    z-index:10;
    top:50%;
    left:20px;
    width: 18px;
    height: 32px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background-image: url(setas.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:0 0;
    
    
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
    
    
    
}
.slick-prev:hover,
.slick-next:hover{
    background-image: url(setas_.png);
}

.slick-next{
    background-position: -25px 0px;
    left: auto;
    right: 20px;
}


/*RUI*/
.slick-arrow{
    cursor:pointer;
    opacity:0;
    visibility:hidden;
}
.slick-arrow.show_arrows{
    opacity:1;
    visibility:visible;
}

.slick-arrow.slick-disabled{
    opacity:0 !important;
    visibility:hidden !important;
}
.slick-slider:hover .slick-arrow{
    opacity:1;
    visibility:visible;
}
.slick-slider.show_arrows .slick-arrow{
    opacity:1;
    visibility:visible;
}

/* Dots */
.slick-dots{
    position: absolute;
    bottom: 5px;
    display: block;
    width: 100%;
    padding: 0;
    left:0px;
    list-style: none;
    text-align: center;

    z-index: 5;
}
.slick-dots li{
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button{
    display:none !important;
}
