<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
a {
  color:#000000;
  text-decoration:none; 
}
a:hover {
  color:#cor_site#;
  text-decoration:none; 
}
</style>
</head>
<body style="background:#fff">
<div align="center">
  <table width="600"  border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td height="40">&nbsp;</td>
    </tr>
    <tr>
      <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom: 20px;">
          <tbody>
            <tr>
              <td align="center" valign="top"><a href="#rootpath#" target="_blank"><img src="#rootpath#imgs/elem/logo.png" width="110" border="0" /></a></td>      
            </tr>
          </tbody>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="border:1px solid #CCD3D1;">
          <tbody>
            <tr>
              <td width="30">&nbsp;</td>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td height="50">&nbsp;</td>
                    </tr>
                    <tr>
                      <td align="left" style="font-family:arial; font-size:18px; line-height:21px; color:#000000; font-weight:bold">#ctitulo#</td>
                    </tr>
                    <tr>
                      <td height="50">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="1" bgcolor="#CCD3D1" style="line-height: 1px; font-size: 0px;"><img src="#rootpath#imgs/elem/fill.gif" height="1" border="0"></td>
                    </tr>
                    <tr>
                      <td height="40">&nbsp;</td>
                    </tr>
                    <tr>
                      <td align="left" valign="top" style="font-family:arial; font-size:14px; line-height:16px; color:#000000;">#cmensagem#</td>
                    </tr>
                    <tr>
                      <td height="40">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="1" bgcolor="#CCD3D1" style="line-height: 1px; font-size: 0px;"><img src="#rootpath#imgs/elem/fill.gif" height="1" border="0"></td>
                    </tr>
                    <tr>
                      <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                          <tr>
                              <td height="40">&nbsp;</td>
                            </tr>
                            <tr>
                              <td style="font-family:arial; font-size:14px; line-height:16px; color:#000000">#tit_mail_compr#</td>
                            </tr>
                            <tr>
                              <td style="font-family:arial; font-size:14px; line-height:16px; color:#cor_site#; font-weight:bold">#nome_site#</td>
                            </tr>
                            <tr>
                              <td height="40">&nbsp;</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
              </table></td>
              <td width="30">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#CCD3D1">
          <tr>
            <td height="25" colspan="4">&nbsp;</td>
          </tr>
          <tr>
            <td width="30">&nbsp;</td>
            <td align="left" valign="middle" width="140" style="font-family:arial; font-size: 14px; color: #000000; line-height:14px; font-weight:bold">Página de contacto:</td>
            <td align="left" valign="middle" style="font-family:arial; font-size: 14px; color: #000000; line-height:14px;">#cpagina#</td>
            <td width="30" >&nbsp;</td>
          </tr>
          <tr>
            <td height="25" colspan="4">&nbsp;</td>
          </tr>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#cor_site#">
          <tr>
            <td height="40" colspan="4">&nbsp;</td>
          </tr>
          <tr>
            <td width="30">&nbsp;</td>
            <td align="left" valign="middle">
              <a href="#rootpath#" style="font-family:arial; font-size: 16px; color: #ffffff; line-height:18px; text-decoration:none; font-weight:bold">#url#</a>
            </td>
            <td align="right" valign="middle">#crodape#</td>
            <td width="30" >&nbsp;</td>
          </tr>
          <tr>
            <td height="40" colspan="4">&nbsp;</td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td height="40">&nbsp;</td>
    </tr>
  </table>
</div>
</body>
</html>
